Package: libnl-xfrm-3-200
Source: libnl3
Version: 3.4.0-1
Architecture: amd64
Maintainer: Heiko Stuebner <mmind@debian.org>
Installed-Size: 136
Depends: libnl-3-200 (= 3.4.0-1), libc6 (>= 2.3.4), libgcc1 (>= 1:3.0)
Section: libs
Priority: optional
Multi-Arch: same
Homepage: http://www.infradead.org/~tgr/libnl/
Description: library for dealing with netlink sockets - package transformations
 This is a library for applications dealing with netlink sockets.
 The library provides an interface for raw netlink messaging and various
 netlink family specific interfaces.
 .
 API to netlink based package transformations (such as encrypting
 their payloads).
