Package: libnl-utils
Source: libnl3
Version: 3.4.0-1
Architecture: amd64
Maintainer: Heiko Stuebner <mmind@debian.org>
Installed-Size: 1281
Depends: libnl-cli-3-200 (= 3.4.0-1), libnl-idiag-3-200 (= 3.4.0-1), libc6 (>= 2.15), libgcc1 (>= 1:3.0), libnl-3-200 (>= 3.4.0-1), libnl-genl-3-200 (>= 3.2.7), libnl-nf-3-200 (>= 3.2.21), libnl-route-3-200 (>= 3.4.0)
Section: libs
Priority: optional
Homepage: http://www.infradead.org/~tgr/libnl/
Description: Utilities for dealing with netlink sockets
 This is a library for applications dealing with netlink sockets.
 The library provides an interface for raw netlink messaging and various
 netlink family specific interfaces.
 .
 These utilities help dealing with netlink sockets.
