Package: libnl-cli-3-dev
Source: libnl3
Version: 3.4.0-1
Architecture: amd64
Maintainer: Heiko Stuebner <mmind@debian.org>
Installed-Size: 2962
Depends: libnl-3-dev (= 3.4.0-1), libnl-genl-3-dev (= 3.4.0-1), libnl-nf-3-dev (= 3.4.0-1), libnl-route-3-dev (= 3.4.0-1), libnl-cli-3-200 (= 3.4.0-1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: http://www.infradead.org/~tgr/libnl/
Description: development library and headers for libnl-cli-3
 This is a library for applications dealing with netlink sockets.
 The library provides an interface for raw netlink messaging and various
 netlink family specific interfaces.
 .
 This package contains the files that are needed to build applications using
 libnl-cli-3.
